# Viktor Kulichenko — главный владелец всего репозитория
* @VictorKVS

# Автодок движок
/autodoc/ @VictorKVS

# Архитектура
/05_ARCHITECTURE/ @VictorKVS

# Продуктовая логика / Метаплатформа
/00_foundation/ @VictorKVS
/01_GIN/ @VictorKVS
/02_SEC_FACTORY/ @VictorKVS
/03_SOFT_FACTORY/ @VictorKVS
/04_AI_LABS/ @VictorKVS
